@charset "UTF-8";

/* Reset */
* {margin: 0; padding: 0;}
.clearfix::before, .clearfix::after {display: block; content: ''; clear: both;}
li {list-style: none;}
a {text-decoration: none; color: #fff;}


/*레이아웃*/
#wrap {width: 1200px; margin: 0 auto;}

/* Header */
#header {position: relative; width: 100%; text-align: center;  color: #fff; background: #999;}
#header .logo {position: absolute; left: 0; top: 0; z-index: 10; width: 250px; height: 100px; background: #888; line-height: 100px;}
#header .nav {position: relative; float: right;  width: 100%; margin-top: 53px;} 
#header .nav ul {padding-left: 40%;}
#header .nav ul li {position: relative; float: left; width: 25%;}
#header .nav ul li a {display: block; padding: 10px; font-size: 20px; color: #fff; background: #888;}
#header .nav ul li a:hover {background: rgba(0,0,0,0.4);}
#header .nav ul li ul.submenu {position: absolute; top: 44px; left: 0; height: 176px; display: none; padding-left: 0; background: #888;}
#header .nav ul li:first-child ul.submenu:after {content:''; position: absolute; left: -480px; top: 0; width: 480px; height: 187px; background: #888;}
#header .nav ul li ul.submenu li {width: 100%;}


/* Banner */
#banner {width: 100%; height: 300px; background: #666; color: #fff; line-height: 300px; text-align: center;}

/* Contents */
#contents {width: 1200px;}
#contents > div {float: left; width: 33.333%; height: 200px; color: #fff; line-height: 200px; text-align: center;}
#contents > div.cont1 {background: #555;} 
#contents > div.cont2 {background: #444;} 
#contents > div.cont3 {background: #333;} 

/* Footer */
#footer {width: 1200px;}
#footer > div {float: left; height: 100px; color: #fff; line-height: 100px; text-align: center;}
#footer > div.foot1 {width: 20%; background: #222;}
#footer > div.foot2 {width: 60%; background: #111;}
#footer > div.foot3 {width: 20%; background: #000;}