@charset "UTF-8";

/* reset */
* {margin: 0; padding: 0;}
.clearfix::before, .clearfix::after {display: block; content:''; clear: both;}
li {list-style: none;}
a {text-decoration: none; color: #fff;}
table {border-spacing: 0;}

/* 레이아웃 */
#wrap {width: 1200px; margin: 0 auto; color: #fff; text-align: center;}

/*header*/
#header { background: #7e57c2;}
#header .logo {float: left; width: 250px; height: 100px; line-height: 100px; background: #b39ddb;}
#header .nav {float: right; width: 600px; margin-top: 28px;  background: #b39ddb;}
#header .nav li {position: relative; float: left; width: 25%;}
#header .nav li a {display: block; padding: 10px;}
#header .nav ul li a:hover {background: rgba(0,0,0,0.4);}

#header .nav ul li ul.submenu {display: none; position: absolute; left: 0; top: 41px; background: #b39ddb;}
#header .nav ul li ul.submenu li {width: 100%;}

/*banner*/
#banner {width: 100%; height: 300px; line-height: 300px; background: #333;}

/*contents*/
#contents {width: 100%; }
#contents > div {float: left; width: 33.3333%; height: 200px; line-height: 200px;}
#contents > div.cont1 {background: #444;}
#contents > div.cont2 {background: #555;}
#contents > div.cont3 {background: #666;}


/*footer*/
#footer {width: 100%; }
#footer > div {float: left; height: 100px; line-height: 100px;}
#footer > div.foot1 {width: 20%; background: #777;}
#footer > div.foot2 {width: 60%; background: #888;}
#footer > div.foot3 {width: 20%; background: #999;}