@charset "UTF-8";

/* reset */
* {margin: 0; padding: 0; color: #000;}
.clearix::before, .clearfix::after {display: block; content: ''; clear: both;}
li {list-style: none;}
a {text-decoration: none; color: #333333;}

/* layout */
#wrap {width: 1200px; margin: 0 auto; background: #fff;}
#header {width: 100%; height: 100px;}
#banner {width: 100%; height: auto; background: #777;}
#content1 {width: 100%; height: auto; margin-top: 20px;}
#content2 {width: 100%; height: 200px; margin-top: 20px; background: #555;}
#footer {width: 100%; height: 100px; margin-top: 20px; background: #444;}

/* header */
#header h1 {float: left; height: 100px;;}
#header h1 img {display: block; height: 100%;}
#header .nav {float: right; margin-top: 30px;}
#header .nav ul {}
#header .nav ul li {position: relative; float: left; width: 160px; text-align: center;}
#header .nav ul li a {display: block; padding: 10px 15px; font-size: 20px; font-weight: 600; }
#header .nav ul li a:hover {background: rgba(0,0,0,0.3);}
#header .nav ul li ul.submenu {display: none; position: absolute; left: 0; top: 50px;} 
#header .nav ul li ul.submenu li {width: 100%; background: #fff;} 

/* banner */
#banner img {display: block; width: 100%;}

/* content1 */
#content1 .notice {float: left; width: 50%; height: 260px; margin-right: 2%; border: 1px solid #d2d2d2; box-sizing: border-box;}
#content1 .notice .tab_menu {}
#content1 .notice .tab_menu .tab_btn {position: relative;}
#content1 .notice .tab_menu .tab_btn ul {}
#content1 .notice .tab_menu .tab_btn ul li {float: left; margin: 15px;}
#content1 .notice .tab_menu .tab_btn ul li:last-child {margin-left: 0;}
#content1 .notice .tab_menu .tab_btn ul li.active {font-weight: 600;}
#content1 .notice .tab_menu .tab_btn ul li a {display: block; padding: 10px; font-size: 18px;}
#content1 .notice .tab_menu .tab_btn .more {position: absolute; top: 24px; right: 20px; }
#content1 .notice .tab_menu .tab_btn .more a {display: block; font-size: 15px;}
#content1 .notice .tab_menu .tab_cont {text-align: left;}

#content1 .ad {float: left; width: 48%; background: #999;}
#content1 .ad img {display: block;  width: 100%;}
/* content2 */

/* footer */