/* reset */
* {margin: 0; padding: 0; font-size: 16px;}
.clearfix::before, .clearfix::after {content: ''; display: block; clear: both;}
li {list-style: none;}
a {text-decoration: none; color: #333;}

/* layout */
#wrap {margin: 0 auto; width: 1000px;}

/*header*/
#header {}
#header h1 {float: left; padding: 15px 0 10px;}
#header h1 img {width: 110px;}
#header .nav {float: right; width: 80%;}
#header .nav ul {}
#header .nav li {position: relative; float: left; width: 20%; text-align: center;}
#header .nav li a {display: block; padding: 24px 10px 20px 10px; font-size: 20px; font-weight: bold;}
#header .nav li a:hover {background: rgba(0,0,0,0.2);}

#header .nav li ul.submenu {display: none; position: absolute; left: 0; top: 70px; z-index: 100;}
#header .nav li ul.submenu li {width: 100%;}
#header .nav li ul.submenu li a {display: block; padding: 10px; background: #fff;}
#header .nav li ul.submenu li a:hover {background: #888; color: #fff;}

/*banner*/
#banner {height: 392px; overflow: hidden;}

/* 상하 슬라이드
#banner .slideList {position: relative; height: 392px;  width: 1000px;}
#banner .slideList .slideImg {position: relative; }
#banner .slideList .slideImg h2 {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background: rgba(0,0,0,0.4); padding: 10px 30px; border-radius: 20px; color: #fff;}
#banner .slideList .slideImg img {width: 100%; display: block;}
*/

/*좌우 슬라이드*/
#banner .slideList {position: relative; width: 3000px; height: 392px; z-index: 30;}
#banner .slideList .slideImg {position: relative; width: 1000px; float: left;}
#banner .slideList .slideImg h2 {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background: rgba(0,0,0,0.4); padding: 10px 30px; border-radius: 20px; color: #fff;}
#banner .slideList .slideImg img {width: 100%; display: block;}

/*content1*/
#content1 {margin-top: 20px;}
#content1 .left {width: 49%; float: left; margin-right: 2%; padding: 20px; box-sizing: border-box; 
    background: #f2f2f2 url(../images/bg1.jpg) no-repeat right 20px center;
    background-size: 100px;}
#content1 .left .left_title {font-size: 20px; padding-bottom: 5px;}
#content1 .left .left_desc {font-size: 14px; padding-bottom: 15px; color: #777;}
#content1 .left .left_btn {
    background: url(../images/icon1.jpg) no-repeat left center;
    background-size: 20px;
    padding-left: 25px; padding-top: 2px;
    font-weight: bold;}

#content1 .right {width: 49%; float: left; margin-right: 0; padding: 20px; box-sizing: border-box; 
    background: #f2f2f2 url(../images/bg2.jpg) no-repeat right 20px center;
    background-size: 100px;}
#content1 .right .right_title {font-size: 20px; padding-bottom: 5px;}
#content1 .right .right_desc {font-size: 14px; padding-bottom: 15px; color: #777;}
#content1 .right .right_btn {
    background: url(../images/icon2.jpg) no-repeat left center;
    background-size: 20px;
    padding-left: 25px; padding-top: 2px;
    font-weight: bold;}
#content1 .right .right_btn em {font-size: 12px; font-style: normal; color: #666;}

/*content2*/
#content2 {margin-top: 30px;}
#content2 h2 {font-size: 24px; padding-bottom: 10px; }
#content2 .best {}
#content2 .best figure {float: left; width: 32%; margin-right: 2%;}
#content2 .best figure:last-child {margin-right: 0;}
#content2 .best figure img {width: 100%;}
#content2 .best figcaption {padding-top: 10px; font-weight: bold;}

/*footer*/
#footer {margin-top: 40px; padding: 40px 0; width: 100%; height: 200px; background: #202020; color: #fff;}
#footer .container {width: 1000px; margin: 0 auto;}
#footer h2 {float: left; width: 200px;}
#footer h2 img {width: 100%;}
#footer .foot ul {float: right; }
#footer .foot ul li {float: left; position: relative; padding-right: 10px;}
#footer .foot ul li::after {content: ''; width: 1px; height: 15px; background-color: #808080; position: absolute; top: 5px; right: 0;}
#footer .foot ul li:last-child::after {width: 0;}
#footer .foot ul li a {padding: 15px; color: #fff; font-size: 18px; font-weight: bold;}

#footer address {float: right; font-style: normal; margin-right: 90px; margin-top: 30px;}
#footer address ul {display: block;}
#footer address ul li {float: left; padding: 5px 10px; font-weight: bold; font-size: 14px; color: #808080;}